<div class="right-bar">
  <div class="user-info">
      <div class="user-ava">
          <img src="assets\images\1626060862469_40744_duc.nguyenminh.ncc.jpg" alt="">
      </div>
      <div class="user-detail">
          <div class="user-name">Duc Nguyen Minh</div>
          <div class="user-mail">minhduc04000@gmail.com</div>
      </div>
  </div>
  <div class="user-function">
      <a routerLink="/mytimesheet" class="func">
          <div class="func-logo">

          </div>
          Cham cong
        </a>
      <div class="func">
        <a routerLink="/workingcalander">
          <div class="func-logo">

          </div>
          Lich lam viec
        </a>
      </div>
  </div>
</div>
