<div class="timekeeping">
  <div class="header">
    <div class="today-date">
      15-09-2021
    </div>
    <div class="select-date">
      <div class="date-changer">
        <div class="pre-next-date">
          <div class="left"></div>
          <div class="middle"></div>
          <div class="right"></div>
        </div>
        <div class="picker">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="timekeeping-in-week">
    <mat-tab-group>
      <mat-tab label="Monday">
        <div class="inner-tab">
          <button type="button" class="btn btn-primary" mat-raised-button (click)="openDialog()">+</button>
        </div>
      </mat-tab>
      <mat-tab label="Tuesday">
        <div class="inner-tab">
          <button type="button" class="btn btn-primary">+</button>
        </div>
      </mat-tab>
      <mat-tab label="Wednesday">
        <div class="inner-tab">
          <button type="button" class="btn btn-primary">+</button>
        </div>
      </mat-tab>
      <mat-tab label="Thursday">
        <div class="inner-tab">
          <button type="button" class="btn btn-primary">+</button>
        </div>
      </mat-tab>
      <mat-tab label="Friday">
        <div class="inner-tab">
          <button type="button" class="btn btn-primary">+</button>
        </div>
      </mat-tab>
      <mat-tab label="Wednesday">
        <div class="inner-tab">
          <button type="button" class="btn btn-primary">+</button>
        </div>
      </mat-tab>
      <mat-tab label="Sunday">
        <div class="inner-tab">
          <button type="button" class="btn btn-primary">+</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="history-in-month">
  <div class="header">
    <div class="total">
      Total punish: 1
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Checkin</th>
          <th scope="col">Checkout</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">14/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">13/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">12/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">11/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">10/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">09/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">08/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">07/09/2021</th>
          <td>10:02</td>
          <td>6:30</td>
          <td>Punish</td>
        </tr>
        <tr>
          <th scope="row">06/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">05/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">04/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">03/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">02/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">01/09/2021</th>
          <td>08:30</td>
          <td>6:30</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
